
@*<div class="newsletter-area">
    <div class="container">
        <div class="newsletter-wrapper-all theme-bg-2">
            <div class="row">
                <div class="col-lg-5 col-12 col-md-12">
                    <div class="newsletter-img bg-img" style="background-image: url(/Assets/img/banner/newsletter-bg.png)">
                        <img alt="image" src="~/Assets/img/team/newsletter-img.png">
                    </div>
                </div>
                <div class="col-lg-7 col-12 col-md-12">
                    <div class="newsletter-wrapper text-center">
                        <div class="newsletter-title">
                            <h3>Subscribe our newsletter</h3>
                        </div>
                        <div id="mc_embed_signup" class="subscribe-form">
                            <form action="#" method="post" id="#" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input type="email" value="" name="EMAIL" class="email" placeholder="Enter your email here..." required>
                                    <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<footer>
    <div class="footer-top pt-210 pb-98 theme-bg" >
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-widget mb-30">
                        <div class="footer-logo">
                            <a href="#">
                                <img src="~/Assets/img/logo/logo - Copy.png" alt="">
                            </a>
                        </div>
                        <div class="footer-about">
                            <p><span>HHQ</span> là shop điện thoại lớn nhất, uy tin nhất Việt Nam. Đem đến cho khách hàng những sản phẩm tốt nhất, giá tốt nhất.</p>
                            <div class="footer-support">
                                <h5>Tư vấn mua hàng</h5>
                                <span> 0978 793 083</span>
                            </div>
                            <div class="footer-support">
                                <h5>Hỗ trợ kỹ thuật</h5>
                                <span> 0978 793 000</span>
                            </div>
                            <div class="footer-support">
                                <h5>Bảo hành sản phẩm</h5>
                                <span> 0978 793 111</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-widget mb-30 pl-60">
                        <div class="footer-widget-title">
                            <h3>Truy cập nhanh</h3>
                        </div>
                        <div class="quick-links">
                            <ul>
                                <li><a href="shop">Shop</a></li>
                                <li><a href="about">Về tôi</a></li>
                                <li><a href="contact">Liên hệ</a></li>
                                <li><a href="@Url.Action("HuongDanMuaHangOnLine","TruyCapNhanh")">Hướng dẫn mua hàng online</a></li>
                                <li><a href="javascript:void(0)">Chính sách bảo hành</a></li>
                                <li><a href="javascript:void(0)">Thông tin tuyển dụng</a></li>
                                <li><a href="javascript:void(0)">Thông tin khuyến mãi</a></li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3></h3>
                        </div>
                        <div class="food-widget-content pr-30">
                            <div class="single-tweet">
                                <p>
                                    <a href="#"></a> 
                                    
                                </p>
                            </div>
                            <div class="single-tweet">
                                <p>
                                    <a href="#"></a> 
                                </p>
                            </div>
                            <div class="single-tweet">
                                <p>
                                    <a href="#"></a> 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="footer-widget mb-30">
                        <div class="footer-widget-title">
                            <h3>Thông tin cửa hàng</h3>
                        </div>
                        <div class="food-info-wrapper">
                            <div class="food-address">
                                <div class="food-info-title">
                                    <span>Địa chỉ :</span>
                                </div>
                                <div class="food-info-content">
                                    <p>367 Hoàng Quốc Việt,Cầu Giấy,Hà Nội</p>
                                </div>
                            </div>
                            <div class="food-address">
                                <div class="food-info-title">
                                    <span>Số điện thoại</span>
                                </div>
                                <div class="food-info-content">
                                    <p>Mr.Hoang +84 933 333 333</p>
                                    <p>Mr.Quang +84 922 222 222</p>
                                    <p>Mr.Huwng +84 944 444 444</p>
                                </div>
                            </div>
                            <div class="food-address">
                                <div class="food-info-title">
                                    <span>Web</span>
                                </div>
                                <div class="food-info-content">
                                    <a href="@Url.Action("Index","Home")">www.HHQ.com</a>
                                </div>
                            </div>
                            <div class="food-address">
                                <div class="food-info-title">
                                    <span>Facebook</span>
                                </div>
                                <div class="food-info-content">
                                    <a href="https://www.facebook.com/hhqvietnam/">https://www.facebook.com/hhqvietnam/</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom ptb-35 black-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12">
                    <div class="copyright">
                        <p>&copy;, @DateTime.Now.Year  All rights reserved 2020 - Copyright by HHQ.com</p>
                    </div>
                </div>
                @*<div class="col-md-4 col-12">
                    <div class="footer-payment-method">
                        <a href="#"><img alt="" src="~/Assets/img/icon-img/payment.png"></a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</footer>