
<div class="row">
    <div class="input-field col-lg-2 s12">
        <label>OSName</label>
    </div>
    <div class="input-field col s12">
        <input id="OSName" name="OSName" type="text" class="validate">
    </div>
</div>

<div class="row">
    <div class="input-field col-lg-2 s12">
        <label>OSversion</label>
    </div>
    <div class="input-field col s12">
        <input id="OSversion" name="OSversion" type="text" class="validate">
    </div>
</div>

<div class="row">
    <div class="input-field col-lg-2 s12">
        <label>Display</label>
    </div>
    <div class="input-field col s12">
        <input id="Display" name="Display" type="text" class="validate">
    </div>
</div>

<div class="row">
    <div class="input-field col-lg-2 s12">
        <label>FrontCamera</label>
    </div>
    <div class="input-field col s12">
        <input id="FrontCamera" name="FrontCamera" type="text" class="validate">
    </div>
</div>

<div class="row">
    <div class="input-field col-lg-2 s12">
        <label>RearCamera</label>
    </div>
    <div class="input-field col s12">
        <input id="RearCamera" name="RearCamera" type="text" class="validate">
    </div>
</div>

<div class="row">
    <div class="input-field col-lg-2 s12">
        <label>CPU</label>
    </div>
    <div class="input-field col s12">
        <input id="CPU" name="CPU" type="text" class="validate">
    </div>
</div>
<div class="row">
    <div class="input-field col-lg-2 s12">
        <label>Ram</label>
    </div>
    <div class="input-field col s12">
        <input id="Ram" name="Ram" type="text" class="validate">
    </div>
</div>

<div class="row">
    <div class="input-field col-lg-2 s12">
        <label>Rom</label>
    </div>
    <div class="input-field col s12">
        <input id="Rom" name="Rom" type="text" class="validate">
    </div>
</div>

<div class="row">
    <div class="input-field col-lg-2 s12">
        <label>Sim</label>
    </div>
    <div class="input-field col s12">
        <input id="Sim" name="Sim" type="text" class="validate">
    </div>
</div>

<div class="row">
    <div class="input-field col-lg-2 s12">
        <label>Battery</label>
    </div>
    <div class="input-field col s12">
        <input id="Battery" name="Battery" type="text" class="validate">
    </div>
</div>




