@model IEnumerable<Models.EF.BRAND>

<h5>Select Brand</h5>
<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-sm">
            <div class="card bg-white m-b-30">
                <h4 class="card-header">
                    <i class="mdi mdi-package"></i>
                    <a href="javascript:void(0);" id="save-@item.BrandID" onclick="return CreateProduct('@item.BrandID')">
                        @item.BrandName
                    </a>
                    
                </h4>
                <div class="card-body">
                    <p class="card-text"><strong>Url:</strong> @item.BrandURL</p>
                    <p class="card-text"><strong>Date:</strong> @item.CreatedDate</p>
                </div>
            </div>
        </div>
    }
</div>
