@{
    ViewBag.Title = "About";
}

@*<div class="breadcrumb-area pt-255 pb-170" style="background-image: url(/Assets/img/banner/banner-4.jpg)">*@
<div class="breadcrumb-area pt-255 pb-170" >
    <div class="container-fluid">
        <div class="breadcrumb-content text-center">
            <h2>About Us</h2>
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")">home</a>
                </li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
</div>

<div class="about-us-area pt-125 pb-125">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="overview-content">
                    <h1><span>HHQ</span> SỰ LỰA CHỌN SỐ 1 </h1>
                    <h2>UY TÍN <span>SỐ 1 VIỆT NAM</span></h2>
                    @*<p><span>HHQ</span> is the best</p>*@
                    <div class="question-area">
                        <h4>LIÊN HỆ </h4>
                        <div class="question-contact">
                            <div class="question-icon">
                                <i class="icofont icofont-phone"></i>
                            </div>
                            <div class="question-content-number">
                                <h6> 0978 793 083</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                @*<div class="overview-img">
                    <img class="tilter" src="assets/img/banner/banner-1.png" alt="">
                </div>*@
            </div>
        </div>
    </div>
</div>

<div class="services-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-services orange mb-30 text-center">
                    <div class="services-icon">
                        <img alt="" src="assets/img/icon-img/3.png">
                    </div>
                    <div class="services-text">
                        <h5>MIỄN PHÍ VẬN CHUYỂN</h5>
                        <p>áp dụng cho mọi đơn hàng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-services yellow mb-30 text-center">
                    <div class="services-icon">
                        <img alt="" src="assets/img/icon-img/4.png">
                    </div>
                    <div class="services-text">
                        <h5>HỖ TRỢ NHIỆT TÌNH</h5>
                        <p>24/24</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-services purple mb-30 text-center">
                    <div class="services-icon">
                        <img alt="" src="assets/img/icon-img/5.png">
                    </div>
                    <div class="services-text">
                        <h5>HOÀN LẠI TIỀN</h5>
                        <p>Dùng thử 7 ngày</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-services sky mb-30 text-center">
                    <div class="services-icon">
                        <img alt="" src="assets/img/icon-img/6.png">
                    </div>
                    <div class="services-text">
                        <h5>GIẢM GIÁ</h5>
                        <p>10% VỚI KHÁCH HÀNG THÂN THIẾT</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="testimonial-area">
    <div class="container">
        <div class="section-title-2 section-title-position">
            <h2>OUR CLIENTS REVIEW</h2>
        </div>
        <div class="testimonial-active owl-carousel">
            <div class="single-testimonial">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="testimonial-img pl-75">
                            <img alt="image" src="assets/img/team/testimonial-1.jpg">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="testimonial-content">
                            <div class="testimonial-dec">
                                <p><span>OSWAN</span> the most latgest bike store in the wold can serve you latest  qulity of motorcycle also you can sell here your motorcycle it quo minus iduod maxie placeat facere possimus, omnis voluptas assumenda est, omnis dolor llendus. Temporibus autem quibusdam quoten</p>
                            </div>
                            <div class="name-designation">
                                <h4>Rayed Ayash Hisham</h4>
                                <span>COO, ASEKHA</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-testimonial">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-12">
                        <div class="testimonial-img pl-75">
                            <img alt="image" src="assets/img/team/testimonial-2.png">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <div class="testimonial-content">
                            <div class="testimonial-dec">
                                <p><span>OSWAN</span> Lorem ipsum dolor sit amet, consectetur adipisicing , sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat. Duis dolor in reprehenderit.</p>
                            </div>
                            <div class="name-designation">
                                <h4>James Momen Nirob</h4>
                                <span>CEO, ASEKHA</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="team-area pt-120 pb-95">
    <div class="container">
        <div class="section-title text-center mb-60">
            <h2>THÀNH VIÊN</h2>
            @*<p>
                <span>HHQ</span>
                is the Best
            </p>*@
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <img src="assets/img/team/man.png" alt="">
                    </div>
                    <div class="team-content">
                        <h4><a href="https://www.facebook.com/hoangnguyen.colab">Nguyễn Hoàng</a></h4>
                        <span>GIÁM ĐỐC</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <img src="assets/img/team/man.png" alt="">
                    </div>
                    <div class="team-content">
                        <h4><a href="https://www.facebook.com/profile.php?id=100035573034394">Vũ Minh Quang</a></h4>
                        <span>CEO</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <img src="assets/img/team/man.png" alt="">
                    </div>
                    <div class="team-content">
                        <h4><a href="https://www.facebook.com/hung.vuxuan.3323">Vũ Xuân Hưng</a></h4>
                        <span>Quản Lý </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="team-wrapper mb-30">
                    <div class="team-img">
                        <img src="assets/img/team/man.png" alt="">
                    </div>
                    <div class="team-content">
                        <h4><a href="https://www.facebook.com/tranvanha140799">Trần Văn Hà</a></h4>
                        <span>Đối tác chiến lược </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
